

    <div class="text-2xl  w-full flex gap-12 h-screen " >
        <div class="sidebar w-1/5 h-full p-5 bg-light-gray  mt-20 bg-opacity-20">
          sidebar
        </div>

        <div class="main w-4/5 p-5 mx-5  shadow-md bg-gray mt-20 bg-opacity-20"> 
            
            <div class="cards flex justify-center gap-12 items-center">
                <div class="userNumbers shadow-md w-1/3 h-60 flex justify-center items-center bg-white text-black rounded-xl mt-5">
                    239 users
                </div>

                <div class="articleNumbers shadow-md w-1/3 h-60 flex items-center justify-center bg-white text-black rounded-xl mt-5">
                    345 Articles
                </div>


            </div>

            <div class="userTable shadow-md w-full h-2/3 p-5 justify-center items-center bg-white text-black rounded-xl mt-2">
                table
            </div>
          
        </div>

    </div> 


