

    <div [class]="isDark ? 'bg-gray text-white p-5  flex flex-row  items-center justify-around h-auto' : 'bg-sky p-5  flex flex-row items-center justify-around h-auto'">

        <div [class]="showFlex ? 'flex flex-col sticky md:hidden':'hidden'" >
            <ng-container *ngFor="let route of routeList">
                <app-routerlink [route]="route.route" [linkClass]="route.linkClass"  [linkText]="route.linkText" ></app-routerlink>
            </ng-container>

         
            <ng-container *ngIf="showSignupButton && !logedIn">
                <app-routerlink route="" (click)="showSignupForm(true)" linkClass="text-xl px-5" linkText="Signup"></app-routerlink>
                </ng-container>
                
                <ng-container *ngIf="!logedIn">
                    <app-routerlink route="/login" linkClass="text-xl px-5" linkText="Login"></app-routerlink>
                    
                </ng-container>
                <ng-container *ngIf="logedIn">
                        <app-routerlink route="/logout" linkClass="text-xl px-5" linkText="Logout"></app-routerlink>
                </ng-container>   
        </div>

        <div  class="text-2xl font-bold  bg-blue text-white p-3 custom-box">
            MP
        </div>
            
            <div class="hidden md:flex" >
                <ng-container *ngFor="let route of routeList">
                    <app-routerlink [route]="route.route" [linkClass]="route.linkClass"  [linkText]="route.linkText" ></app-routerlink>
                </ng-container>
    
             
                    <ng-container *ngIf="showSignupButton && !logedIn">
                  
                    <button type="button" class="text-xl px-5  hover:bg-blue hover:text-white mx-4 rounded-lg"   (click)="showSignupForm(true)">Signup</button>
                    </ng-container>
                    
                    <ng-container *ngIf="!logedIn">

                        <button type="button" class="text-xl px-5 hover:bg-blue hover:text-white mx-4 rounded-lg" (click)="showLoginForm(true)">Login</button>
                    </ng-container>
                    
              
            </div>
            
            
               
              
      

        <div class="flex justify-around items-center w-1/4">
            <div>
                <fa-icon class="text-white text-xl" (click)="changeTheme()" *ngIf="isDark" [icon]="moon"></fa-icon>
                <fa-icon class="text-white text-xl" (click)="changeTheme()" *ngIf="!isDark" [icon]="sun"></fa-icon>
            </div>


            <div *ngIf="logedIn" class="flex gap-6 items-center w-3/4">
               <div class="flex  gap-2 items-center justify-center ">
                <img
                src="{{ socialUser.photoUrl }}"
                alt="User Photo"
                referrerpolicy="no-referrer"
                class="rounded-full h-8 w-8 object-cover border-2 border-gray-300"
                />
                <div class="text-xl">
                  
                  {{ socialUser.lastName }}
                  
                </div>
               </div>
                <app-routerlink route="" (click)="logOut()" linkClass="text-xl px-5" linkText="Logout"></app-routerlink>
            </div>  
        </div>

        <ng-container *ngIf="!showFlex">
            <button class="text-white text-xl md:hidden" (click)="toggleMenu()">
                <fa-icon [icon]="bar"></fa-icon>
              </button>
        </ng-container>

        <ng-container *ngIf="showFlex">
            <button class="text-white text-xl md:hidden" (click)="toggleMenu()">
                <fa-icon [icon]="close"></fa-icon>
              </button>
        </ng-container>
       

    </div>

    






