


<div class="my-20 fixed mt-0 w-full header">
    <div *ngIf="showModel" class="modal-container fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-50">
      
       
            <app-signup-page class="w-1/3"  ></app-signup-page>
      </div>

          <div *ngIf="showLoginModel" class="modal-container fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-50">
     
       
            <app-login-page class="w-1/3"></app-login-page>
         
          
        
      </div>

<app-header *ngIf="showHeader" (toggleTheme)="changeTheme($event)"  >

</app-header>
</div>


<div [class]="isDark ? 'bg-gray-dark text-white main' : 'main bg-white text-black'">

<router-outlet></router-outlet>

</div>



